

    <section>
        <div class="banner">
<!--             <video autoplay loop muted >
                <source src="../../assets/2.webm" type="video/webm">
            </video> -->
          <img src="../../assets/1.jpg"/>
            <div class="content">
                <h1 class="mb-5">welcome to Route Movies</h1>
                <a routerLink="register" (click)='getPageregister()' class="m-4">Register</a>
                <a routerLink="login" (click)=' getPagelogin()'>login</a>
            </div>
        </div>
    </section>
   
 
