section
{
    background-image: url(../../assets/1.jpeg);
    background-size: cover;
    height: 100vh;
}
h1
{
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}