@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$bgColor:#131722;
$lightBgColor:#24baef;
$bgTransparent:rgba(36,186,239,.6);
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;


body
{
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: $bgColor;
    color: $fontColor;
}

a
{
    font-size: 18px;
    color: $fontColor;
    text-decoration: none;
}
a:hover
{
    font-size: 18px;
    color: $fontColor;
    text-decoration: none;
}

.brdr
{
    height: 1px;
    background-color: $borderColor;
}

.second-color
{
    color:$secondFontColor ;
}

.vote
{
    background-color: $lightBgColor;
    padding: 5px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 10px;
}