
<div class="w-75 m-auto py-5">

    <div *ngIf='error' class="alert alert-danger">
        <p>{{error}}</p>
    </div>
    <!-- <h1>{{registerForm.get('first_name')?.errors|json}}</h1> -->

<form class="mt-5" [formGroup]='registerForm' (ngSubmit)='submitRegisterForm(registerForm)'>
<div class="form-group">
    <label for="first_name">first_name</label>
    <input formControlName='first_name' class="form-control" type="text" id="first_name">
    <div *ngIf="registerForm.get('first_name')?.errors != null && registerForm.get('first_name')?.touched" class="alert my-2 alert-danger">
        <p *ngIf="registerForm.get('first_name')?.errors?.required">first_name is required</p>
        <p *ngIf="registerForm.get('first_name')?.errors?.minlength">first_name is minlength</p>
        <p *ngIf="registerForm.get('first_name')?.errors?.maxlength">first_name is maxlength</p>
    </div>
</div>

<div class="form-group">
    <label for="last_name">last_name</label>
    <input formControlName='last_name' class="form-control" type="text" id="last_name">
    <div *ngIf="registerForm.get('last_name')?.errors != null && registerForm.get('last_name')?.touched" class="alert my-2 alert-danger">
        <p *ngIf="registerForm.get('last_name')?.errors?.required">last_name is required</p>
        <p *ngIf="registerForm.get('last_name')?.errors?.minlength">last_name is minlength</p>
        <p *ngIf="registerForm.get('last_name')?.errors?.maxlength">last_name is maxlength</p>
    </div>
</div>

<div class="form-group">
    <label for="age">age</label>
    <input formControlName='age' class="form-control" type="number" id="age">
    <div *ngIf="registerForm.get('age')?.errors != null && registerForm.get('age')?.touched" class="alert my-2 alert-danger">
        <p *ngIf="registerForm.get('age')?.errors?.required">age is required</p>
        <p *ngIf="registerForm.get('age')?.errors?.minlength">age is min 16</p>
        <p *ngIf="registerForm.get('age')?.errors?.maxlength">age is max 80</p>
    </div>
</div>

<div class="form-group">
    <label for="email">email</label>
    <input formControlName='email' class="form-control" type="email" id="email">
    <div *ngIf="registerForm.get('email')?.errors != null && registerForm.get('email')?.touched" class="alert my-2 alert-danger">
        <p *ngIf="registerForm.get('email')?.errors?.required">email is required</p>
        <p *ngIf="registerForm.get('email')?.errors?.minlength">email is invalid</p>
    </div>
</div>

<div class="form-group">
    <label for="password">password</label>
    <input formControlName='password' class="form-control" type="password" id="password">
    <div *ngIf="registerForm.get('password')?.errors != null && registerForm.get('password')?.touched" class="alert my-2 alert-danger">
        <p *ngIf="registerForm.get('password')?.errors?.required">password is required</p>
        <p *ngIf="registerForm.get('password')?.errors?.pattern">password must start with uppercase ...</p>
    </div>
</div>

<button [disabled]='registerForm.invalid' class="btn btn-info" type="submit">Register</button>
    </form>
</div>